<h1 class="mb-1 text-center">編輯既有支出</h1>
<div class="container">
  <form action="/records/{{_id}}?_method=PUT" method="POST" class="needs-validation mb-2" novalidate>
    {{> form}}
  </form>
</div>
<script src="/javascripts/bootstrapForm.js"></script>