<h1 class="mb-1 text-center">請輸入你的支出</h1>
<div class="container">
  <form action="/new" method="POST" class="needs-validation mb-2" novalidate>
    {{> form}}
  </form>
</div>
<script src="/javascripts/bootstrapForm.js"></script>